<div class="image accounts">
    <div class="name overlay ">
        <label type="text" class="transparent name">{{name}}</label>
    </div>
    <div class="userid overlay">
        <input type="text" class="transparent userid" value="JohnD12345">
    </div>
    <div class="email overlay">
        <input type="text" class="transparent email" value="john.doe@nobody.me">
    </div>
    <div class="account overlay">
        <input type="text" class="transparent account" value="123456789012345">
    </div>
    <div class="mobile overlay">
        <input type="text" class="transparent mobile" value="+00 0000000000">
    </div>
    <div class="pan overlay">
        <input type="text" class="transparent pan" value="ABCXXXX23F">
    </div>
    <div class="aadhaar overlay">
        <input type="text" class="transparent aadhaar" value="XXXX XXXX 0000">
    </div>
    <div class="passport overlay">
        <input type="text" class="transparent passport" value="AXVC543IN">
    </div>
    <div class="passport-issue overlay">
        <input type="text" class="transparent passport-issue" value="12 July 2015">
    </div>
    <div class="passport-expiry overlay">
        <input type="text" class="transparent passport-expiry" value="12 July 2026">
    </div>
    <div class="employment-status overlay">
        <input type="text" class="transparent employment-status" value="Salaried Professional">
    </div>
    <div class="annual-salary overlay">
        <input type="text" class="transparent annual-salary" value="£ 40,605">
    </div>
     <div class="primary-use overlay">
        <input type="text" class="transparent primary-use" value="Day today Banking">
    </div>
    <div class="preferred-branch overlay">
        <input type="text" class="transparent preferred-branch" value="Somewhere in UK">
    </div>

    <button class="transparent pointer submit-button overlay" (click)="submit()"></button>
</div>