<div class="image accounts">
    <div class="name overlay ">
        <label type="text" class="transparent name">{{name}}</label>
    </div>
    <div class="userid overlay">
        <input type="text" class="transparent userid">
    </div>
    <div class="email overlay">
        <input type="text" class="transparent email">
    </div>
    <div class="account overlay">
        <input type="text" class="transparent account">
    </div>
    <div class="mobile overlay">
        <input type="text" class="transparent mobile">
    </div>
    <div class="pan overlay">
        <input type="text" class="transparent pan">
    </div>
    <div class="aadhaar overlay">
        <input type="text" class="transparent aadhaar">
    </div>
    <div class="passport overlay">
        <input type="text" class="transparent passport">
    </div>
    <div class="passport-issue overlay">
        <input type="text" class="transparent passport-issue">
    </div>
    <div class="passport-expiry overlay">
        <input type="text" class="transparent passport-expiry">
    </div>
    <div class="employment-status overlay">
        <input type="text" class="transparent employment-status">
    </div>
    <div class="annual-salary overlay">
        <input type="text" class="transparent annual-salary">
    </div>
     <div class="primary-use overlay">
        <input type="text" class="transparent primary-use">
    </div>
    <div class="preferred-branch overlay">
        <input type="text" class="transparent preferred-branch">
    </div>

    <button class="transparent pointer submit-button overlay" (click)="submit()"></button>
</div>