.accounts {
    background-image: url("../../assets/images/icici-account.png");
    width           : 1261px;
    height          : 1186px;
}

.userid {
    top  : 293px;
    left : 644px;
    width: 186px;
}

.email {
    top  : 363px;
    left : 644px;
    width: 186px;
}

.account {
    top  : 430px;
    left : 644px;
    width: 186px;
}

.mobile {
    top  : 489px;
    left : 644px;
    width: 186px;
}

.pan {
    top  : 579px;
    left : 644px;
    width: 186px;
}

.aadhaar {
    top  : 624px;
    left : 644px;
    width: 186px;
}

.passport {
    top  : 664px;
    left : 644px;
    width: 186px;
}

.passport-issue {
    top  : 704px;
    left : 644px;
    width: 186px;
}

.passport-expiry {
    top  : 745px;
    left : 644px;
    width: 186px;
}

.employment-status {
    top  : 788px;
    left : 644px;
    width: 186px;
}

.annual-salary {
    top  : 825px;
    left : 644px;
    width: 186px;
}

.primary-use {
    top  : 864px;
    left : 644px;
    width: 186px;
}

.preferred-branch {
    top  : 906px;
    left : 644px;
    width: 186px;
}

.resident-yes {
    top  : 785px;
    left : 644px;
    width: 186px;
}

.resident-tax-other-yes {
    top  : 785px;
    left : 644px;
    width: 186px;
}

.submit-button {
    top   : 1135px;
    left  : 440px;
    width : 54px;
    height: 24px;
}