.accounts {
    background-image: url("../../assets/images/icici-success.png");
    width           : 1261px;
    height          : 1186px;
}

.submit-button {
    top   : 831px;
    left  : 435px;
    width : 65px;
    height: 35px;

}