<div class="row outer">
    <div class="col-lg-12">
        <h2 class="text-center">Account Created Successfully</h2>
        <p>Dear {{userName}},<br> <br>
           Your application for account creation has been successfully processed! 
           <br><br>
           <b>Your funds would be credited to your account in 2 days.</b> </p>
           <br><br> 
           Please make a note of the below important details for your account.
           <div class="flex-align-horizontal-center">
           <table>
            <tr>
                <td><strong>Account Number</strong></td>
                <td>{{accountNumber}}</td>
            </tr>
            <tr>
                <td><strong>Application ID</strong></td>
                <td>{{applicationId}}</td>
            </tr>
           </table>
        </div>
    </div>
</div>