<div class="row outer">
    <div class="col-lg-6">
        <h2>Source Bank Details</h2>
        <table class="tbl">
            <tr>
                <td><strong>Account Number</strong></td>
                <td>{{sourceBank.accountNumber}}</td>
            </tr>
            <tr>
                <td><strong>Account Type</strong></td>
                <td>{{sourceBank.accountType}}</td>
            </tr>
            <tr>
                <td><strong>Name</strong></td>
                <td>{{sourceBank.name}}</td>
            </tr>
            <tr>
                <td><strong>Branch</strong></td>
                <td>{{sourceBank.branchDetails.branch}}</td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td>{{sourceBank.branchDetails.address?.address1}}, {{sourceBank.branchDetails.address?.address2}}</td>
            </tr>
            <tr>
                <td><strong>City</strong></td>
                <td>{{sourceBank.branchDetails.address?.city}}</td>
            </tr>
            <tr>
                <td><strong>State</strong></td>
                <td>{{sourceBank.branchDetails.address?.state}}</td>
            </tr>
            <tr>
                <td><strong>Pin Code</strong></td>
                <td>{{sourceBank.branchDetails.address?.pincode}}</td>
            </tr>
            <tr>
                <td><strong>MICR Code</strong></td>
                <td>{{sourceBank.micr}}</td>
            </tr>
            <tr>
                <td><strong>IFSC Code</strong></td>
                <td>{{sourceBank.branchDetails.ifsc}}</td>
            </tr>
            <tr>
                <td><strong>PAN Number</strong></td>
                <td>{{sourceBank.pan}}</td>
            </tr>
            <tr>
                <td><strong>Active Services</strong></td>
                <td>{{sourceBank.services?.join(', ')}}</td>
            </tr>
        </table>
    </div>

    <div class="col-lg-6">
        <h2>Destination Bank Details</h2>
        <table class="tbl">
            <tr>
                <td><strong>Application reference number</strong></td>
                <td>{{destinationBank.integrationID}}</td>
            </tr>
            <tr>
                <td><strong>Name</strong></td>
                <td>{{destinationBank.name}}</td>
            </tr>
            <tr>
                <td><strong>Branch</strong></td>
                <td>{{destinationBank.branchDetails.branch}}</td>
            </tr>
            <tr>
                <td><strong>Address</strong></td>
                <td>{{destinationBank.branchDetails.address?.address1}},
                    {{destinationBank.branchDetails.address?.address2}}</td>
            </tr>
            <tr>
                <td><strong>City</strong></td>
                <td>{{destinationBank.branchDetails.address?.city}}</td>
            </tr>
            <tr>
                <td><strong>State</strong></td>
                <td>{{destinationBank.branchDetails.address?.state}}</td>
            </tr>
            <tr>
                <td><strong>Pin Code</strong></td>
                <td>{{destinationBank.branchDetails.address?.pincode}}</td>
            </tr>
            <tr>
                <td><strong>MICR Code</strong></td>
                <td>{{destinationBank.micr}}</td>
            </tr>
            <tr>
                <td><strong>IFSC Code</strong></td>
                <td>{{destinationBank.branchDetails.ifsc}}</td>
            </tr>
            <tr>
                <td><strong>PAN Number</strong></td>
                <td>{{destinationBank.pan}}</td>
            </tr>
            <tr>
                <td><strong>KYC Validation</strong></td>

                <td (click)="showKycHelp()">
                    <div [ngClass]="{
                        'blue': kycStatus === 0,
                        'green': kycStatus === 1,
                        'red': kycStatus < 0,
                        'orange': kycStatus > 1,
                    }">{{ getKycStatusText(kycStatus) }} </div>
                </td>
            </tr>
        </table>
        <div id="kycHelp" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">KYC Approval Status</h4>
                    </div>
                    <div class="modal-body">
                        <h3>{{statusText}}</h3><br>
                        <p>{{kycStatusDescription}}</p><br><br>

                        <div *ngIf="possibleReasons.length > 0">
                            <h3>Possible Reasons</h3><br>
                            <ul>
                                <li *ngFor="let item of possibleReasons">{{ item }}</li>
                            </ul>
                        </div>
                        
                        <h3>What to do next</h3><br>
                        <ul>
                            <li *ngFor="let item of whatNext">{{ item }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <button id="submitButton" type="submit" class="submitAction" disabled>Details are correct</button> -->
    <!-- <button id="cancelButton" type="submit" class="submitAction" disabled>Cancel</button> -->
</div>