@use './assets/scss/blk-design-system.scss';


$lbg-core-green: #007C43 !default;
$lbg-bright-green: #62B34F !default;
$lbg-charcoal: #282828 !default;
$opacity-8: rgba(40, 40, 40, 0.8) !default;

$white: #ffffff !default;
$gray-100: #f6f9fc !default;
$gray-200: #e9ecef !default;
$gray-300: #e3e3e3 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default; // Line footer color
$gray-700: #525f7f !default; // Line p color
$gray-800: #32325d !default; // Line heading color
$gray-900: #212529 !default;
$lbg-grey : #FAFAFA !default;
$link-disabled: #666666 !default;
$transparent-bg: transparent !default;
$light-bg: #f5f6fa !default;
$dark-background: #555555 !default;

$blue: #18509d !default;
$indigo: #5603ad !default;
$purple: #8a1c69 !default;
$pink: #f3a4b5 !default;
$red: #ce143d !default;
$orange: #cd4b13 !default;
$yellow: #ffd600 !default;
$green: #2dce89 !default;
$teal: #00838f !default;
$cyan: #2bffc6 !default;
$lbg-core-green: #007C43 !default;
$lbg-bright-green: #62B34F !default;
$lbg-charcoal: #282828 !default;

.background-lbg-core-green {
    background-color: $lbg-core-green;
    color: $lbg-grey !important;
}

.background-lbg-bright-green {
    background-color: $lbg-bright-green;
    color: $lbg-grey !important;
}

.background-lbg-charcoal {
    background-color: $lbg-charcoal;
    color: $lbg-grey !important;
}

.background-lbg-grey {
    background-color: $gray-200 !important;
}

.text-color-lbg-core-green {
    color: $lbg-core-green !important;

}
.text-color-lbg-charcoal {
    color: $lbg-charcoal !important;
}

.radio-lbg{
    color: $opacity-8 !important;
    font-size: large !important;
}

.flex-align-horizontal-center{
    display: flex; 
    align-items: center;
    justify-content: center;
}

.align-text-right{
    text-align: right;
}