.login {
    background-image: url("../../assets/images/icici-login.png");
    width           : 1261px;
    height          : 1186px;
}

.username {
    top  : 190px;
    left : 822px;
    width: 183px;
}

.password {
    top  : 275px;
    left : 822px;
    width: 183px;
}

.login-button {
    top   : 420px;
    left  : 820px;
    width : 168px;
    height: 38px;
}